<div class="max-w-[800px] mx-auto self-center w-full">
  
  <h1 class="mb-24 text-3xl font-bold text-center">
    About
  </h1>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde et eligendi vitae eveniet iure saepe quisquam explicabo quasi non dolorem, mollitia autem? Deserunt optio incidunt sit sunt distinctio architecto voluptas?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde et eligendi vitae eveniet iure saepe quisquam explicabo quasi non dolorem, mollitia autem? Deserunt optio incidunt sit sunt distinctio architecto voluptas?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde et eligendi vitae eveniet iure saepe quisquam explicabo quasi non dolorem, mollitia autem? Deserunt optio incidunt sit sunt distinctio architecto voluptas?</p>
  </div>

</div>