<div class="px-6">
  <h1 class="mb-24 text-3xl font-bold text-center">
    Dashboard Panel
  </h1>
  
  <div class="flex flex-1">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-7">
    
    <img src="assets/images/admin/dashboard1.png">
    <img src="assets/images/admin/dashboard2.png">
    <img src="assets/images/admin/dashboard3.png">

    </div>
  </div>
  
  <br>

  <div class="flex flex-1">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-7">
    
    <img src="assets/images/admin/graph1.png">
    <img src="assets/images/admin/graph2.png">
    <img src="assets/images/admin/graph3.png">

    </div>
  </div>

  <br>

  <div class="flex flex-1">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-7">
      
      <div class="mb-5 border border-white rounded-lg">
        <div class="relative py-5 px-20 transition-all rounded-t-lg rounded-b-lg cursor-pointer accordion-title hover:bg-custom-green group">
          <h6 class="mb-0 text-white transition group-hover:text-custom-gray-800">Option 1</h6>
        </div>
      </div>

      <div class="mb-5 border border-white rounded-lg">
        <div class="relative py-5 px-20 transition-all rounded-t-lg rounded-b-lg cursor-pointer accordion-title hover:bg-custom-green group">
          <h6 class="mb-0 text-white transition group-hover:text-custom-gray-800">Option 2</h6>
        </div>
      </div>

      <div class="mb-5 border border-white rounded-lg">
        <div class="relative py-5 px-20 transition-all rounded-t-lg rounded-b-lg cursor-pointer accordion-title hover:bg-custom-green group">
          <h6 class="mb-0 text-white transition group-hover:text-custom-gray-800">Option 3</h6>
        </div>
      </div>

      <div class="mb-5 border border-white rounded-lg">
        <div class="relative py-5 px-20 transition-all rounded-t-lg rounded-b-lg cursor-pointer accordion-title hover:bg-custom-green group" aria-expanded="false">
          <h6 class="mb-0 text-white transition group-hover:text-custom-gray-800">Option 4</h6>
        </div>
      </div>

      <div class="mb-5 border border-white rounded-lg">
        <div class="relative py-5 px-20 transition-all rounded-t-lg rounded-b-lg cursor-pointer accordion-title hover:bg-custom-green group" aria-expanded="false">
          <h6 class="mb-0 text-white transition group-hover:text-custom-gray-800">Option 5</h6>
        </div>
      </div>

      <div class="mb-5 border border-white rounded-lg">
        <div class="relative py-5 px-20 transition-all rounded-t-lg rounded-b-lg cursor-pointer accordion-title hover:bg-custom-green group" aria-expanded="false">
          <h6 class="mb-0 text-white transition group-hover:text-custom-gray-800">Option 6</h6>
        </div>
      </div>

    </div>
  </div>

</div>

